//-----------------------------------------------------------------------------
// Assrortiment (home page)
// -----------------------------------------------------------------------------
.assortiment {
  background-image: image('particles/triangles.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color:  #f6f6f6;
  background-attachment: fixed;
  h2.assortiment__title {
      font-weight: normal;
  }
  .image-block {

    @include media("<960px") {
      max-width: 308px;
      text-align: center;
    };
    @include media("<xx-small") {
      max-width: 275px;
    };


    &.image-block--double {
      @include media("<medium") {
          max-width: none;
      };
      @include media("<small") {
        max-width: 308px;
      }
      @include media("<x-small") {
        max-width: 275px;
      }
    }
  }

}
.assortiment__title-big {
    font-size: 100px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    vertical-align: baseline;
    @include media("<640px") {
      font-size: 55px;
    };
}

.assortiment__title-postfix {
    vertical-align: baseline;
    display: inline-block;
    font-size: 45px;
    font-weight: normal;
    position: relative;
    padding-top: 13px;
    text-transform: uppercase;
    &:before {
      content: "";
      left: 0;
      top: 0;
      width: 170px;
      height: 4px;
      background: black;
      display: block;
      position: absolute;
    }
}
