/** excursion **/

.excursion {
  &__title {
       font-weight: normal;
     }

   &__title-big {
       font-size: 96px;
       padding-right: 0;
       font-weight: bold;
       text-transform: uppercase;
       position: relative;
       padding-bottom: 10px;
       display: inline-block;
       width: 100%;
       &:after {
           content: "";
           left: auto;
           bottom: 10px;
           right: 0;
           height: 4px;
           background: black;
           display: block;
           position: absolute;
           background-color: #006ab2;
           width: 347px;
       }
   }

   &__title-postfix {
       line-height: normal;
       display: block;
       font-size: 40px;
       text-transform: uppercase;
       text-align: right;
   }

}
