// -----------------------------------------------------------------------------
// achievements (home page)
// -----------------------------------------------------------------------------

.achievements {
    padding: 0;
    overflow: visible;

    .right-section-title {
        font-family: Roboto, sans-serif;
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
        width: 400px;
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: -200px;
        padding-left: 105px;
        min-height: 150px;
        background-position: left top;
        background-repeat: no-repeat;
        background-image: image('logo-single.png');
        padding-top: 16px;
        span {
            display: block;
        }
    }

    .square-list {
        margin: 0;
        padding: 24px 35px 54px;
    }

    @include media("<960px") {
      .right-section-title {
          top: auto;
          position: relative;
          float: none;
          margin: 15px auto;
          display: block;
          width: auto;
          padding-left: 0;
          text-align: center;
          padding-top: 160px;
          background-position: 50% 0;
      }
      .square-list {
        text-align: center;
      }
      .square-item__img-wrapper {
        margin: auto;
      }
    };
}
