// -----------------------------------------------------------------------------
// services
// -----------------------------------------------------------------------------
//

.services {
  overflow: hidden;
  &:before {
      content: "";
      width: 414px;
      height: 414px;
      @include gradient-directional(135deg,#009fe3, 0%, #a1daf7, 100%);
      position: absolute;
      right: -212px;
      top: -212px;
      transform: rotate(45deg);
      @include media("<960px") {
        content: none;
      };
  }

  .services__list {
    margin: 25px 0;
  }
}



.services__title {
    text-align: right;
    font-weight: normal;
    max-width: 308px;
    margin: auto;
    &:after {
        content: "";
        width: 95px;
        height: 95px;
        border: 9px solid #009fe3;
        position: absolute;
        transform: rotate(45deg);
        display: block;
        z-index: -1;
        right: -90px;
        top: 30px;
        @include media("<960px") {

          right:0;
          left:0;
          margin: auto;
          z-index: -2;
          opacity: 0.2;
        };
    }
    @include media("<960px") {
      text-align: center;
    };
}

.services__title-big {
    font-weight: bold;
    font-size: 100px;
    display: block;
    margin-bottom: -25px;
    text-transform: uppercase;
    position: relative;
    z-index: -1;
    @include media("<960px") {
        margin-bottom: 0;
    };
    @include media("<640px") {
      margin-bottom: 0;
      font-size: 55px;

    };
}

.services__title-postfix {
    display: block;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    @include media("<640px") {
      display: inline-block;
      font-size: 45px!important;
    };
}
