// -----------------------------------------------------------------------------
// reviews
// -----------------------------------------------------------------------------
//

.reviews {
  background-color:  #f6f6f6;
  @include imagemodal(imagemodal, 160, true);
  .imagemodal__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px;
  }
}

.review-wrapper {
    background: white;
    padding: 20px;
}

.review__video-author {
    font-size: 18px;
    font-weight: bold;
}

.review__video-author-role {
    font-size: 18px;
}

.review__video-part {
    text-align: center;
}

.review__goal {
    display: table;
}

.review__text {
    display: table-cell;
    vertical-align: top;
    padding: 0 10px;
}

.review__result-desc {
    display: table-cell;
    vertical-align: top;
    padding: 0 10px;
}

.review__title {
    font-weight: bold;
    text-transform: uppercase;
}

.review__result {
    display: table;
}
